.input {
  padding: 10px 22px;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--main-color);
  &:focus {
    border-color: var(--main-color);
  }
  &:hover {
    border-color: var(--main-color);
  }
}

.input_italic {
  font-style: italic;
}