.sign-in {
  display: flex;
  flex-direction: column;
  flex: 0 1 470px;
  padding: 10px 70px 40px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 0 24px 0 rgba(66, 68, 90, 0.28);
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color);
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 20px;
  }
  &__agree-line {
    display: flex;
    align-items: center;
    margin-top: 20px;
    span {
      margin-left: 13px;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__span {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    span {
      background-color: var(--secondary-color);
      position: relative;
      padding: 0 15px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--border-color);
      top: 50%;
    }
  }
  &__have-acc {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2px;
    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
    }
  }
}