.button {
  background-color: var(--main-color);
  padding: 12px 26px;
  font-family: var(--ff-inter);
  border-radius: var(--border-radius);
  &:hover {
    background-color: var(--main-color-hover);
  }
}

.button_small-rad {
  border-radius: 4px;
}

.header__nav-button {
  padding-top: 7px;
  padding-bottom: 7px;
}

.sign-in__button {
  width: 100%;
  margin: 30px 0;
}

.sign-in__button_green {
  background-color: #18C967;
  &:hover {
    background-color: #117a3d;
  }
}

.button__plan-item {
  width: 100%;
  margin: 25px 0 5px;
}

.button_is-white {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: var(--border-radius);
  &:hover {
    color: var(--secondary-color);
  }
}

@media screen and (max-width: 430px) {
  .button {
    width: 95%;
  }
}