.hyperlinks {
  background-color: var(--secondary-color);
  padding: 100px 0 55px;
  &__row {
    display: flex;
    flex-direction: column;
    background-image: url('../../img/data-center_img.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 400px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin: 75px 0;
    padding-right: 145px;
  }
}

@media screen and (max-width: 950px) {
  .hyperlinks {
    padding-top: 60px;
    &__row {
      padding-right: 0;
    }
    &__text {
      margin: 45px 0;
      padding: 25px 0;
      background-color: #ffffffb8;
    }
  }
}

@media screen and (max-width: 780px) {
  .hyperlinks__row div:last-child {
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .hyperlinks {
    padding-top: 30px;
    &__text {
      margin: 10px 0;
      row-gap: 20px;
    }
  }
}