.footer {
  padding-top: 110px;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: var(--ff-inter);
    padding-bottom: 30px;
    border-bottom: 2px solid var(--border-color);
    > div {
      display: flex;
      align-items: flex-end;
      column-gap: 20px;
      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: var(--title-color);
      }
    }
  }
  &__nav ul {
    display: flex;
    column-gap: 50px;
  }
  &__bottom {
    background-color: var(--main-color);
    padding: 25px 0;
    margin-top: 30px;
    border-top-left-radius: var(--border-radius_sections);
    border-top-right-radius: var(--border-radius_sections);
    box-shadow: var(--box-shadow);
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--secondary-color);
      > span {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        font-family: var(--ff-inter);
      }
      > div {
        display: flex;
        column-gap: 35px;
        span {
          cursor: pointer;
          transition: var(--transition-in);
          &:hover {
            color: var(--text-color);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  .footer__bottom {
    box-shadow: none;
  }
}

@media screen and (max-width: 950px) {
  .footer {
    padding-top: 30px;
    &__row {
      justify-content: normal;
      flex-direction: column-reverse;
      row-gap: 25px;
      align-items: center;
      > div {
        display: flex;
        align-items: flex-end;
        column-gap: 50px;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .footer {
    &__row {
      padding-bottom: 0;
      border: none;
      > div {
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
      }
    }
    &__nav ul {
      column-gap: 15px;
    }
    &__bottom {
      padding: 10px 0;
      &-row {
        justify-content: center;
        > span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .footer {
    &__row {
      row-gap: 0;
    }
    &__nav ul {
      display: none;
    }
    &__bottom {
      margin-top: 5px;
    }
  }
}