.paragraph {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.p_white {
  color: var(--secondary-color);
  margin: 65px 0;
}

.p_grey {
  color: var(--text-color);
}

@media screen and (max-width: 620px) {
  .paragraph {
    font-size: 18px;
    line-height: 28px;
  }

  .p_white {
    margin: 35px 0 45px;
  }
}