.plan-item {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 0 0 24px 0 rgba(66, 68, 90, 0.28);
  > span {
    background-color: #FFD600;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding: 4px 30px;
    align-self: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &_white {
    background-color: var(--main-color);
    color: var(--secondary-color);
  }
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 45px 10px;
    > span {
      font-size: 12px;
      line-height: 24px;
    }
  }
  &__price-line {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__price-value {
    font-weight: 600;
    font-size: 66px;
    line-height: 73px;
    letter-spacing: -.5;
  }
  &__price-info {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    opacity: .8;
  }
}

@media screen and (max-width: 1030px) {
  .plan-item__row {
    padding: 30px 10px 10px;
  }
}

@media screen and (max-width: 950px) {
  .plan-item {
    flex: none;
    max-width: 375px;
    &__price-line {
      text-align: center;
    }
  }
}