.plans {
  background-color: #F6F5FA;
  padding: 60px 0;
  border-radius: var(--border-radius_sections);
  box-shadow: var(--box-shadow);
  &__row {
    display: flex;
    flex-direction: column;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media screen and (max-width: 1030px) {
  .plans {
    box-shadow: none;
  }
}

@media screen and (max-width: 950px) {
  .plans {
    &__list {
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
    }
  }
}

@media screen and (max-width: 620px) {
  .plans {
    padding-top: 30px;
  }
}