.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.4px;
  color: var(--title-color);
}

.hyperlinks__title {
  font-size: 40px;
  line-height: 45px;
  letter-spacing: -1px;
  text-align: start;
}

.plans__title {
  font-size: 32px;
  line-height: 39px;
}

@media screen and (max-width: 620px) {
  .hyperlinks__title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .plans__title {
    font-size: 26px;
    line-height: 30px;
  }
}