.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 100px;
  .header__nav {
    display: flex;
    align-items: center;
    column-gap: 60px;
    ul {
      display: flex;
      column-gap: 30px;
    }
  }
  .header__burger {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .header__navigation {
    padding: 0;
  }
}

@media screen and (max-width: 780px) {
  .header__navigation {
    align-items: center;
    .header__nav {
      display: none;
    }
    .header__burger {
      display: block;
      position: relative;
      width: 50px;
      height: 35px;
      span {
        width: 100%;
        height: 5px;
        position: absolute;
        background-color: var(--secondary-color);
        top: 15px;
        left: 0;
      }
      &::before, &::after {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        background-color: var(--secondary-color);
        left: 0;
      }
      &::before {
        bottom: 0;
      }
      &::after {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .header__navigation a {
    margin: 0 auto;
    padding-left: 50px;
  }
}