@font-face {
  font-family: 'links4u';
  src:  url('fonts/links4u.eot?yohxbf');
  src:  url('fonts/links4u.eot?yohxbf#iefix') format('embedded-opentype'),
    url('fonts/links4u.ttf?yohxbf') format('truetype'),
    url('fonts/links4u.woff?yohxbf') format('woff'),
    url('fonts/links4u.svg?yohxbf#links4u') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'links4u' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-email:before {
  content: "\e945";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
