.header {
  background-image: url('../../img/background_img.png');
  background-size: cover;
  padding: 55px 0 65px;
  border-bottom-left-radius: var(--border-radius_sections);
  border-bottom-right-radius: var(--border-radius_sections);
  &__row {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 620px) {
  .header {
    padding: 25px 0 45px;
  }
}