.subtitle {
  font-family: var(--ff-inter);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.plans__subtitle {
  color: var(--title-color);
  padding: 15px 0 40px;
  width: 52%;
  margin: 0 auto;
}

.plan-item__subtitle {
  font-family: var(--ff-poppins);
  color: var(--primary-color);
  padding: 15px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}

.plan-item__subtitle_white {
  color: var(--secondary-color);
}

@media screen and (max-width: 620px) {
  .plans__subtitle {
    width: 100%;
    padding: 15px 0 20px;
  }
}