.checkbox {
  display: block;
  position: relative;
  user-select: none;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox-body {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 20%;
  background-color: var(--secondary-color);
  border: 1px solid var(--text-color);
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    border: 2px solid var(--main-color);
  }
}

.checkbox input:checked ~ .checkbox-body {
  background-color: var(--main-color);
  border: none;
}

.checkbox-body:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkbox-body:after {
  display: block;
}

.checkbox .checkbox-body:after {
  background-image: url('../../img/ic_check.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  width: 24px;
  height: 24px;
}