.plan-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  background-color: var(--main-color);
  padding: 6px 14px;
  border-radius: 4px;
}

.plan-title_white {
  background-color: var(--secondary-color);
  color: var(--main-color);
}