*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Kanit', sans-serif;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

:root {
  --main-color: #1DA1F2;
  --main-color-hover: #0f5681;
  --primary-color: #000000;
  --secondary-color: #FFFFFF;
  --border-color: #EBEAED;
  --background-color: #E8F1F9;
  --border-radius: 100px;
  --border-radius_sections: 15px;
  --box-shadow: 0 0 24px 0 rgba(66, 68, 90, 0.28);
  --title-color: rgba(0, 0, 0, 0.7);
  --text-color: rgba(21, 20, 57, 0.4);
  --transition-in: all ease 0.1s;
  --transition-out: all ease-out 0.8s;
  --ff-poppins: 'Poppins', sans-serif;
  --ff-dm_sans: 'DM Sans', sans-serif;
  --ff-inter: 'Inter', sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--ff-poppins);
  max-width: 1400px;
  margin: 0 auto;
}