.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.default-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: var(--secondary-color);
}

@media screen and (max-width: 430px) {
  .container {
    padding: 0 15px;
  }
}