.link {
  font-family: var(--ff-inter);
}

.header__link {
  padding-bottom: 10px;
  &_active {
    border-bottom: 3px solid var(--main-color);
  }
  &:hover {
    transition: var(--transition-in);
    border-bottom: 3px solid var(--main-color);
  }
}

.sign-in__link {
  color: var(--main-color);
  height: 18px;
  line-height: 18px;
  box-sizing: border-box;
  &:hover {
    border-bottom: 1px solid var(--main-color);
  }
}

.footer__link {
  color: var(--title-color);
  font-size: 16px;
  &:hover {
    border-bottom: 1px solid var(--title-color);
  }
}