.header__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  &-text {
    display: flex;
    flex-direction: column;
    flex: 0 1 46%;
    h1 {
      font-family: var(--ff-inter);
      font-weight: 700;
      font-size: 58px;
      line-height: 70px;
      letter-spacing: -1px;
      color: var(--secondary-color);
    }
  }
  &-sign {
    display: flex;
    justify-content: flex-start;
    flex: 0 1 49%;
  }
}

@media screen and (max-width: 950px) {
  .header__banner {
    &-text {
      flex: 0 1 100%;
    }
    &-sign {
      display: none;
    }
  }
}

@media screen and (max-width: 780px) {
  .header__banner {
    &-text {
      text-align: center;
    }
  }
}

@media screen and (max-width: 620px) {
  .header__banner {
    padding-top: 40px;
    &-text {
      h1 {
        font-size: 42px;
        line-height: 54px;
      }
    }
  }
}